@import '../styles/Mixins.scss';
@import '../styles/Variables.scss';

.contestant-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    label {
        @include label;
    }

    input {
        @include input;
    }
}